{% set selectedSubnavItem = 'votes' %}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set bodyClass = 'craft-cms-contests' %}

{% set title = 'CraftCMS Contests' %}
{% set page = 'Votes' %}

{% set crumbs = [
    { label: "CraftCMS Contests"|t, url: url('craft-cms-contests') },
    { label: "Votes"|t, url: url('craft-cms-contests/votes') },
] %}

{% set content %}
    <h1>{{ page|t }}</h1>
    <h2>Click on a contest below to view vote information</h2>

    {% if contestItems|length %}
    <table id="forms" class="data fullwidth collapsible">
        <thead>
        <th scope="col">{{ "Contest Name"|t }}</th>
        <th scope="col">{{ "Contest Handle"|t }}</th>
        </thead>
        <tbody>
            {% for contest in contestItems %}
            <tr data-id="{{ contest.id }}" data-name="{{contest.name}}">
                <th scope="row" data-title="{{ 'Name'|t }}">
                    <a href="{{ url('craft-cms-contests/votes-by-contest/' ~ contest.id) }}">
                        {{ contest.name }}
                    </a>
                </th>
                <td data-title="{{ 'Handle'|t }}">
                    <code>
                        {{ contest.handle }}
                    </code>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h2>No contest founds.</h2>
    {% endif %}
{% endset %}

